@media screen and (max-width: 600px) {
  *i{
    font-size: 175%;
    }
  .icons{
      a, button{
          i{
            font-size: 60%;
            }
        }
    }
    // .row{
    //     // height:80%;
    //     #left-side{
    //         height:70%;
    //         margin-top: 20%;
    //     }
    // }
    .row-height{
        height: 150vh;
        div{
            margin-bottom: 1rem;
            iframe{
                display: none;
            }
        }
    }
}

@media screen and (min-width: 600px){
    nav{
        ul{
            li{
                a:hover{
                        span, i{
                            color: #00aced;
                        }
                    border: 1px solid;
                    border-radius: 60px;
                    box-shadow: 0 0 2px;
                    background-color: lightblue;
                    transition: all 0.5s ease;

                }
            }
        }
    }
    .row-height{
        height: 100vh;
    }

    // ScrollMagic style
    #reveal1 {
    		opacity: 0;
    		-webkit-transform: scale(0.9);
    			 -moz-transform: scale(0.9);
    				-ms-transform: scale(0.9);
    				 -o-transform: scale(0.9);
    						transform: scale(0.9);
    		-webkit-transition: all 1s ease-in-out;
    			 -moz-transition: all 1s ease-in-out;
    				-ms-transition: all 1s ease-in-out;
    				 -o-transition: all 1s ease-in-out;
    						transition: all 1s ease-in-out;
    	}
    #reveal1.visible {
    	opacity: 1;
    	-webkit-transform: none;
    		 -moz-transform: none;
    			-ms-transform: none;
    			 -o-transform: none;
    					transform: none;
    }
}

.list-group{
    width:150%;
    img{
        width:15%
    }
}
#sidebar{
    z-index:1;
}
nav{
    ul{
        li{
            a{
                span{
                    color: #657786;
                    font-size: 2em;
                }
                i{
                    color: #14171A;
                    font-size: 150%;
                }
            }
            a:hover{
                opacity: 0.5;
            }
        }
    }
}

.btn-danger:hover{
    background-color: pink;
}
.btn-primary:hover{
    background-color: lightblue;
}
.card-header, col{
    background-color: #1DA1F2;
}
#navbarDropdown{text-transform: capitalize;}

.icons{
    // margin-left: 15%;
    button,a{
        border-radius: 60px;
        color: #fff;

        i{
            width: 20%;
            font-size: 90%;
            margin-right: 40%;
        }
    }
    a:hover{
        opacity: 0.5;
    }
}
// .z{ z-index: 2;
//
// }
.row-height{
    .left-side{
        // background-image: url(images/twitter-banner.png);
        div{
            color: white;
            text-align: center;
            position: relative ;
            top: 20%;
        }
    }
    .left-side:nth-of-type(even){
        background-color: #1DA1F2;
    }
    .right-side{
        #login{
            border-radius: 60px;
            position: absolute;
            right: 20%;
            top:20%;
        }
        h1, h2, h3, h4, ul, img{
            text-align: center;
            position: relative ;
            top: 25%;
            #signup{
                border: 1px solid;
                border-radius: 60px;
                box-shadow: 0 0 2px;
                background-color: #1DA1F2;
                a{
                    color: black;
                }
                a:hover{
                    z-index:2;
                }
            }
        }
    }
}
.login-message {
    -webkit-animation: fadeOut 2s forwards;
    animation: fadeOut 2s forwards;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    background: #1DA1F2;
    color: white;
    text-align: center;
}
@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
.img-fluid{
    width:75%;
    justify-content: center;
}

// ScrollMagic style
.digit {
		opacity: 0;
		-webkit-transform: translateX(-40px);
			 -moz-transform: translateX(-40px);
				-ms-transform: translateX(-40px);
				 -o-transform: translateX(-40px);
						transform: translateX(-40px);
		-webkit-transition: all 2.9s ease-out;
			 -moz-transition: all 2.9s ease-out;
				-ms-transition: all 2.9s ease-out;
				 -o-transition: all 2.9s ease-out;
						transition: all 2.9s ease-out;
}
.digit.visible {
	opacity: 1;
	-webkit-transform: none;
		 -moz-transform: none;
			-ms-transform: none;
			 -o-transform: none;
					transform: none;
}
.digit:nth-child(2) {
	margin-top: 5px;
}
.digit:nth-child(3) {
	margin-top: 10px;
}
.digit:nth-child(4) {
	margin-top: 15px;
}
.digit:nth-child(5) {
	margin-top: 20px;
}
#reveal2 {
		opacity: 0;
		-webkit-transform: rotate(40deg) scale(0.5);
			 -moz-transform: rotate(40deg) scale(0.5);
				-ms-transform: rotate(40deg) scale(0.5);
				 -o-transform: rotate(40deg) scale(0.5);
						transform: rotate(40deg) scale(0.5);
		-webkit-transition: all 0.8s ease-in-out;
			 -moz-transition: all 0.8s ease-in-out;
				-ms-transition: all 0.8s ease-in-out;
				 -o-transition: all 0.8s ease-in-out;
						transition: all 0.8s ease-in-out;
}
#reveal2.visible {
	opacity: 1;
	-webkit-transform: none;
		 -moz-transform: none;
			-ms-transform: none;
			 -o-transform: none;
					transform: none;
}
